@media screen and (max-width: 1000px) {
    body {
        width: 85%;
    }

    .weather-here-title {
        display: flex;
        justify-content: space-between;
    }

    .weather-here-title .update-geo-button-text {
        display: none;
    }

    .weather-here-title .update-geo-button-sign {
        height: 50px;
        width: 50px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;
        white-space: nowrap;
        outline: none;
        display: block;
        background: var(--light-gray) url("../img/refresh.png") no-repeat;
        background-position: center;
        background-size: 40px 40px;
        border-radius: 15px;
        min-width: 50px;
        min-height: 50px;
    }

    .weather-here-info {
        grid-template-columns: 1fr;
    }

    .weather-here-info .side-info-container {
        width: 100%;
        float: none;
    }

    .favourite-title {
        grid-template-areas: "title-caption error"
                             "add-city add-city";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .favourite-title .title-caption {
        grid-area: title-caption;
    }

    .favourite-title .error-container {
        grid-area: error;
    }

    .favourite-title #add-city {
        grid-area: add-city;
        min-width: var(--horizontal-scroll-avaiable);
    }

    .favourite-title #add-city .add-city-input {
        width: 100%;
    }

    .favourites .city-full-data {
        width: 100%;
    }

    .favourites .city-info-title {
        min-width: var(--horizontal-scroll-avaiable);
    }

    .favourites .city-info-title .city-name {
        font-size: 2rem;
    }

    .weather-here-info .main-info .city-here-name {
        font-size: 10vw;
    }
}

@media screen and (max-width: 480px) {
    .weather-here-info .main-info .city-here-name {
        font-size: 2.5rem;
    }

    .weather-here-info .main-info .weather-icon {
        width: max(50px, 20vw);
        height: max(50px, 20vw);
    }


    .favourites .city-info-title .city-name {
        font-size: max(1rem, 5vw);
    }

    .favourite-title .title-caption {
        font-size: max(2rem, 10vw);
    }
}