:root {
    --gray: #808080;
    --light-gray: #DCDCDC;
    --silver: #C0C0C0;
    --dark-gray: #696969;
    --rows-count: 3;
}

.weather-here-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.weather-here-title .title-caption {
    white-space: nowrap;
    font-size: 2.5rem;
    color: var(--gray);
}

.weather-here-title .update-geo-button {
    color: var(--gray);
    background-color: var(--light-gray);
    font-size: large;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    white-space: nowrap;
    outline: none;
}

.weather-here-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather-here-info .main-info .title-caption {
    white-space: nowrap;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--gray);
    font-weight: bold;
}

.weather-here-info .main-info {
    white-space: nowrap;
}

.weather-here-info .main-info .weather-icon {
    width: 150px;
    height: 150px;
    margin-right: 7rem;
}

.weather-here-info .main-info .temperature-here {
    display: inline-block;
    font-size: 10rem;
    color: var(--gray);
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    padding: 0.7rem;
    margin: 0.5rem 0;
    background-color: var(--silver);
}

ul li .key {
    color: white;
    float: left;
    white-space: nowrap;
}

ul li .value {
    color: white;
    float: right;
    white-space: nowrap;
}

.weather-here-info .side-info-container {
    float: right;
    width: 90%;
}

.favourite-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.favourite-title .title-caption {
    margin-bottom: 0.5rem;
    float: right;
    white-space: nowrap;
    font-size: 2.5rem;
    color: var(--gray);
}

.favourite-title .add-city {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.favourite-title .add-city .add-city-input {
    margin-right: 1rem;
    padding: 0.5rem 10rem 0.5rem 1rem;
    outline: none;
    border-width: 0;
    background-color: var(--light-gray);
    color: var(--gray);
}

.add-button {
    border-width: 0;
    background-color: var(--dark-gray);
    font-size: x-large;
    color: white;
    border-radius: 100%;
    outline: none;
}

.favorites {
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favorites .city-info-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.favorites .city-info-title .close-button {
    position: absolute;
    top: 40%;
    right: 0;
    border-width: 0;
    background-color: var(--dark-gray);
    font-size: large;
    color: white;
    border-radius: 100%;
    outline: none;
}

.favorites .city-info {
    width: 45%;
}

.favorites .city-info-title .city-name {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 2rem;
    color: var(--gray);
}

.favorites .city-info-title .temperature {
    margin-right: 1rem;
    font-size: 2rem;
    color: var(--gray);
}

.favorites .city-info-title .city-weather-icon {
    width: 30px;
    height: 30px;
}
