@media screen and (max-width: 1000px) {
    body {
        width: 85%;
    }

    .weather-here-title {
        display: flex;
        justify-content: space-between;
    }

    .weather-here-title .update-geo-button-text {
        display: none;
    }

    .weather-here-title .update-geo-button-sign {
        height: 50px;
        width: 50px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;
        white-space: nowrap;
        outline: none;
        display: block;
        background: var(--light-gray) url("../img/refresh.png") no-repeat;
        background-position: center;
        background-size: 40px 40px;
        border-radius: 15px;
        min-width: 50px;
        min-height: 50px;
    }

    .weather-here-info {
        grid-template-columns: 1fr;
    }

    .weather-here-info .side-info-container {
        width: 100%;
    }

    .favourite-title {
        grid-template-columns: 1fr;
    }

    .favourite-title .add-city .add-city-input {
        width: 100%;
    }
    /*.favorites .city-info {*/
    /*    width: 100%;*/
    /*}*/
}

/*@media all and (max-width: 470px) {*/
/*    .weather-here-info .main-info .weather-icon {*/
/*        width: 100px;*/
/*        height: 100px;*/
/*    }*/

/*    .weather-here-info .main-info .temperature-here {*/
/*        font-size: 5rem;*/
/*        color: var(--gray);*/
/*    }*/

/*    ul li .key {*/
/*        font-size: small;*/
/*    }*/


/*    ul li .value {*/
/*        font-size: small;*/
/*    }*/

/*    .weather-here-title .title-caption {*/
/*        font-size: 1.5rem;*/
/*    }*/

/*    .weather-here-info .main-info .title-caption {*/
/*        font-size: 2rem;*/
/*    }*/

/*    .weather-here-title .update-geo-button-text {*/
/*        font-size: small;*/
/*        padding: 0.2rem 0.7rem 0.2rem 0.7rem;*/
/*    }*/
/*}*/