@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.middle-part1 {
    color: var(--almost-white-color);
    overflow: auto;
}

.content-with-margin {
    margin: 0 10% 0 10%;
    padding: 0;
}

.registration-box {
    margin: auto;
    position: relative;
    top: 60px;
    background-color: rgba(48, 48, 59, 0.4);
    border-color: #17171d;
    border-style: solid;
    border-width: 0;
    border-radius: 5px;
    width: 540px;
    height: 360px;
}

.login-pass-input-fields {
    margin: auto;
    position: relative;
    width: 60%;
    top: 10%;
}

.text-field {
    margin-top: 0;
}

.text-box {
    margin-top: 2%;
    position: relative;
    text-align: center;
    color: aliceblue;
    font: 400 20px var(--header-cursive), Verdana;
}

.button-sign-in {
    color: whitesmoke;
    margin: 5% auto auto;
    border-width: 0;
    border-radius: 3px;
    position: relative;
    font: 400 18px var(--header-cursive), Verdana;
    background-color: #ff075b;
    height: 40px;
    width: 100%;
}

.content-with-margin .features {
    padding: 50px 0;
    color: whitesmoke;
    max-width: 1200px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-flow: row wrap;
}

.content-with-margin .features .feature {
    box-sizing: border-box;
    min-width: 216px;
    text-rendering: optimizeLegibility;
    margin-right: 8px;
    text-align: center;
    flex: 1;
    padding-top: 32px;
}

.content-with-margin .feature .feature-icon {
    border-radius: 50%;
    margin: auto;
    display: table;
    min-width: 92px;
    max-width: 240px;
}

.content-with-margin .main-info .main-title {
    text-transform: uppercase;
    line-height: 1.3;
    margin: auto;
    text-align: center;
    font: 700 40px var(--header-cursive);
    color: var(--white-color);
    max-width: 40%;
}

.content-with-margin .main-info .second-info-title {
    margin: auto;
    text-align: center;
    font: 400 20px var(--header-cursive), sans-serif;
    color: var(--almost-white-color);
    max-width: 50%;
}

.feature h1 {
    margin-bottom: 0;
    font: 700 24px var(--header-cursive);
}

.feature p {
    margin: 1rem 0 0;
    padding: 0 1rem 0 1rem;
    color: var(--almost-white-color);
    font: 400 16px Tahoma;
}

.with-cache-background {
    height: 1080px;
    width: 100%;
    position: initial;
    background-image: url("../img/cache_map_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bait-info .tournament-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bait-info .title {
    text-align: center;
    margin-bottom: 1rem;
    font: 700 50px var(--header-cursive), Verdana;
}

.bait-info .tournament-images .tournament-info {
    margin-left: 1rem;
    margin-right: 1rem;
}

.bait-info .tournament-images .tournament-info img {
    filter: drop-shadow(0 0 4px #4444dd);
    border-radius: 8px;
    max-width: 300px;
}

.bait-info .tournament-images .caption {
    text-align: center;
    font: 400 25px var(--header-cursive), Verdana;
}