@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.middle-part1 {
    color: var(--white-color);
    overflow: auto;
}

.content {
    margin: 0 10% 0 10%;
}

.registration-box {
    margin: auto;
    position: relative;
    top: 60px;
    background-color: rgba(48, 48, 59, 0.4);
    border-color: #17171d;
    border-style: solid;
    border-width: 0;
    border-radius: 5px;
    width: 540px;
    height: 360px;
}

.login-pass-input-fields {
    margin: auto;
    position: relative;
    width: 60%;
    top: 10%;
}

.text-field {
    margin-top: 0;
}

.text-box {
    margin-top: 2%;
    position: relative;
    text-align: center;
    color: aliceblue;
    font: 400 20px "Bebas Neue", Verdana;
}

.button-sign-in {
    color: whitesmoke;
    margin: auto;
    margin-top: 5%;
    border-width: 0;
    border-radius: 3px;
    position: relative;
    font: 400 18px "Bebas Neue", Verdana;
    background-color: #ff075b;
    height: 40px;
    width: 100%;
}

.with-cache-background {
    height: 1080px;
    width: 100%;
    position: initial;
    background-image: url("../img/cache_map_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}