:root {
    --gray: #808080;
    --light-gray: #DCDCDC;
    --silver: #C0C0C0;
    --dark-gray: #696969;
    --rows-count: 2;
}

.weather-here-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.weather-here-title .title-caption {
    white-space: nowrap;
    font-size: 2.5rem;
    color: var(--gray);
}

.weather-here-title .update-geo-button {
    color: var(--gray);
    background-color: var(--light-gray);
    font-size: large;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    white-space: nowrap;
    outline: none;
}

.weather-here-info {
    display: grid;
    /*grid-template-areas: "main-info . . side-info side-info";*/
    grid-template-columns: 1fr 1fr;
}

.weather-here-info .main-info .title-caption {
    white-space: nowrap;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--gray);
    font-weight: bold;
}

.weather-here-info .main-info {
    white-space: nowrap;
    /*grid-area: main-info;*/
}

.weather-here-info .side-info {
    /*grid-area: side-info;*/
}

.weather-here-info .main-info .weather-icon-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid var(--gray);
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 7rem;
}

.weather-here-info .main-info .weather-icon-title {
    position: absolute;
    color: var(--gray);
    top: 45%;
    left: 10%;
}

.weather-here-info .main-info .temperature-here {
    display: inline-block;
    font-size: 10rem;
    color: var(--gray);
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    padding: 0.7rem;
    margin: 0.5rem 0;
    background-color: var(--silver);
}

ul li .key {
    color: white;
    float: left;
    white-space: nowrap;
}

ul li .value {
    color: white;
    float: right;
    white-space: nowrap;
}

.favourite-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.favourite-title .title-caption {
    margin-bottom: 0.5rem;
    float: right;
    white-space: nowrap;
    font-size: 2.5rem;
    color: var(--gray);
}

.favourite-title .add-city {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.favourite-title .add-city .add-city-input {
    margin-right: 1rem;
    padding: 0.5rem 10rem 0.5rem 1rem;
    outline: none;
    border-width: 0;
    background-color: var(--light-gray);
    color: var(--gray);
}

.add-or-close-button {
    border-width: 0;
    background-color: var(--dark-gray);
    font-size: x-large;
    color: white;
    border-radius: 100%;
    outline: none;
}

.favorites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(var(--rows-count), 1fr);
}
